body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.login-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #0fd8d0, #075e74);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background-color: #1e2a38;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; /* Add this */
      /* Add this */
}

/* New: wavy background */



.signin-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width:50%;
  position: relative;
  top:-10px;
  


}
.signin-btn button{
  background-color: #00f7e5;
  color:gray;
  border-radius: 0;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.login-title {
  color: cyan;
  font-size: 15px;
}

.profile-pic {
  width: 80px;
  height: 80px;
  background-color: #39495c;
  border-radius: 50%;
  margin: 40px 0 10px 0;
  background-image: url('https://cdn-icons-png.flaticon.com/512/149/149071.png');
  background-size: cover;
}
.form-box{
  width: 76%;
}
.login-form {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 25px;
}

.input-group {
  display: flex;
  align-items: center;
  background: #39495c;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

input::placeholder{
  color: white;
}

.input-group i {
  color: white;
  margin-right: 10px;
}

.input-group input {
  border: none;
  outline: none;
  background: none;
  color: white;
  width: 100%;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 12px;
  color: #bbb;
}

.options a {
  color: #00f7e5;
  text-decoration: none;
}
.options label{
  display: flex;
}
.remember-me {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.remember-me label{
  font-size: 10px;
  color:#00f7e5;
  margin: 0;
}

.login-btn {
  width: 100%;
  background-color: #00f7e5;
  color: black;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background-color: #00d2c5;
}
