/* Register.css */

.register-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #0fd8d0, #075e74);
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  background-color: #1e2a38;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  width: 400px;
  padding: 2rem;
  text-align: center;
}

.register-title {
  color: cyan;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.register-form {
  width: 100%;
}

.input-group {
  display: flex;
  align-items: center;
  background: #39495c;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.input-group i {
  color: white;
  margin-right: 10px;
}

.input-group input {
  border: none;
  outline: none;
  background: none;
  color: white;
  width: 100%;
}

input::placeholder {
  color: white;
}

.register-btn {
  width: 100%;
  background-color: #00f7e5;
  color: grey;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 1rem;
}

.register-btn:hover {
  background-color: #00d2c5;
}

.register-success {
  color: #00f7e5;
  margin-top: 1rem;
  font-size: 1rem;
}

/* Responsive */

@media (max-width: 500px) {
  .register-card {
    width: 90%;
    padding: 1.5rem;
  }

  .register-title {
    font-size: 1.5rem;
  }

  .register-btn {
    font-size: 1rem;
    padding: 10px;
  }
}
